<li class="ns1 dropdown language-menu-toggle">
	<a href="#">
		<span class="glyphicon glyphicon-globe"></span>
		<span class="navitem-text"><f:for each="{options}" iteration="optionIterator" as="option"><f:if condition="{option.isCurrent}">{option.title}</f:if></f:for></span>
		<span class="bar"></span>
	</a>
	<ul id="language_menu" class="dropdown-menu">
	<f:if condition="{settings.links.header}">
		<div class="links-list-header">{f:translate(key:'select_language')}</div>
	</f:if>
	<f:for each="{options}" iteration="optionIterator" as="option">
		<f:if condition="{option.isCurrent}">
			<f:then>
				<f:if condition="{settings.links.showCurrent}">
					<li class="active CUR{f:if(condition: optionIterator.index, then: ' SPC')}">
						<f:if condition="{settings.links.doNotLinkCurrent}">
							<f:then>
								<f:render partial="UnlinkedLanguage" arguments="{option: option, settings: settings}" />
							</f:then>
							<f:else>
								<f:render partial="LinkedLanguage" arguments="{option: option, settings: settings}" />
							</f:else>
						</f:if>
					</li>
				</f:if>
			</f:then>
			<f:else>
				<f:if condition="{option.isAvailable}">
					<f:then>
						<li class="NO{f:if(condition: optionIterator.index, then: ' SPC')}">
							<f:render partial="LinkedLanguage" arguments="{option: option, settings: settings, flag: option.activeFlag}" />
						</li>
					</f:then>
					<f:else>
						<f:if condition="{settings.links.showInactive}">
							<li class="INACT{f:if(condition: optionIterator.index, then: ' SPC')}">
								<f:if condition="{settings.links.doNotLinkInactive}">
									<f:then>
										<f:render partial="UnlinkedLanguage" arguments="{option: option, settings: settings}" />
									</f:then>
									<f:else>
										<f:render partial="LinkedLanguage" arguments="{option: option, settings: settings}" />
									</f:else>
								</f:if>
							</li>
						</f:if>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:for>
</ul></li>
